html,
body
{
    margin:0;
    padding:0;}

    html
    {overflow-y:scroll;
        font-size:100%;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;}
body{background-color:#080808;margin:0; font-family:'Zilla Slab', serif; font-weight:normal;line-height:18px;color:#00CC00; margin-top:50px;}
h2{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}
p{font-size:18px;font-weight:normal;line-height:18px;margin-bottom:9px;}
h2 {font-weight:bold;color:#00CC00;}h1 small {color:#00CC00;}
h1{margin-bottom:18px;font-size:30px;line-height:36px;}
h1 small{font-size:18px;}
h2{font-size:24px;line-height:36px;}
h2 small{font-size:14px;}
.logo, h3 { text-align: center;}
.heading { margin:20px 0 10px 0; }
.heading, .info {text-align:center;}
.content-holder { color: #00CC00; display: block; margin: 0 auto; border-radius: 8px; padding: 11px 13px; background-color: transparent; font-size: 18px; border-color: #00CC00; }
.btn-wrapper { text-align: center; }
.wli-btn {    font-size: 16px; margin : 20px 5px; color: #000; padding: 5px 10px; display: inline-block; border: 1px solid #00CC00; background-color: #00CC00; font-weight: 700; cursor:pointer;}

h2{ font-size: 24px; line-height: 36px; }
.content-inner { margin: 0 0 15px 15px;}
.content-inner h1 { font-size: 18px; margin-bottom: 15px; letter-spacing:0; padding-top: 13px; border-bottom: 1px solid #00CC00; }

p{ font-size: 16px; line-height: 18px;}

footer { margin-left: 15px; }
footer p {text-align: center;}